.main_card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: vw;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  font-weight: 500;
  font-size: 50px;
  padding-bottom: 50px;
  color: #3f3844;
}

.chart_title {
  font-size: 25px;
  color: #3f3844;
}

.header {
  align-self: flex-start;
  width: 100vw;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: 600;
  color: #3f3844;
}

.value {
  text-align: center;
}

.caption {
  text-align: center;
  font-weight: bold;
  color: #3f3844;
}

.open_card {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  order: 1;
  width: 252px;
}

.close_card {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  order: 2;
  width: 252px;
  margin-left: 50px;
}

.high_card {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  order: 3;
  width: 252px;
  margin-left: 50px;
}

.low_card {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  order: 4;
  width: 252px;
  margin-left: 50px;
}



.App {
  display: flex;

}

.test {
  display: flex;
  width: 100vw;
  left: 25%;

}

.App-header {
  background-color: #eeeeee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
